*{
    margin: 0;
    padding: 0;
}

.main-menu{
    background-color: #636e72;
}

/* main menu ul style none */

.main-menu ul{
    list-style-type: none;
    position: relative;
}

/* list item float */

.main-menu>ul>li{
    float: left;
}

/* fix nav background color and height*/
.main-menu>ul::after{
    content: '';
    display: block;
    clear: both;
}

/* clear under from list item */
.main-menu>ul>li>a{
    text-decoration: none;
    display: inline-block; 
    /* display inline block  na korle, sudhu matro left right paddig peto, tai inline kora */
    padding: 10px 20px;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-menu>ul>li:hover{
    background-color: #81ecec;
}


.main-menu ul li ul li a{
    text-decoration: none;
    color: #fff;
}

.main-menu ul ul{
   background-color: rgb(34, 30, 30);
   position: absolute;
   top:40px;
   display: none;
}


.main-menu ul ul li{
    width: 168px;
}

.main-menu ul ul li a{
    padding: 10px 10px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu ul ul li a:hover{
    color: #fff;
    background-color:#636e72;
    display: block;
}