*{
    margin: 0;
    padding: 0;
}

.main-menu{
    background-color: #81ecec;
}

/* main menu ul style none */

.main-menu ul{
    list-style-type: none;
}

/* list item float */

.main-menu>ul>li{
    float: left;
}

/* fix nav background color and height*/
.main-menu>ul::after{
    content: '';
    display: block;
    clear: both;
}